<% title "Login" %>
<div class="login-form-container">
  <%= form_for(:session, url: login_path) do |f| %>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Login to Account</h2>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <label class="sr-only" for="email">E-Mail Address</label>
            <%= f.label :email, class: 'sr-only' %>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
              <%= f.email_field :email, class: 'form-control', placeholder: 'you@example.com' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password, class: 'sr-only' %>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-control-feedback">
            <span class="text-danger align-middle"><%= @error %></span>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-9">
          <button type="submit" class="btn btn-outline-primary"><i class="fa fa-sign-in"></i> Login</button>
        </div>
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-9">
          <span>Not a member? <a href="<%= register_path %>">Register here</a></span>
        </div>
      </div>
  <% end %>
</div>
