<p id="notice"><%= notice %></p>


<%= image_tag @user.avatar.url(:square) %></br>
<span><%= @user.name %></span></br>
<div><%= @user.interests %></div>
<%= link_to 'Edit', edit_user_path(@user) %> |
>>>>>>> add interests to users
<%= link_to 'Back', users_path %>
